.listings {
  display: flex;
  gap: 2rem;
}

@media (max-width:768px) {
  .listings {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.map-display {
  height: 400px;
  width: 100%;
  border: 1px #ccc solid;
  border-radius: 1rem;
}
