.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.links {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 0.8rem;
}